{% extends 'padre.html' %}


{% block bloqueQueCambia %}
   <h1>Bienvenidos a la seccion de reparaciones </h1>
   <p>aqui podras conocer las reparaciones que realizamos en nuestro taller mecanico de vehiculos</p>

<section class="lista_reparaciones">
   <div class="card" style="width: 18rem;">
      <img src="../static/blog/assets/img/mecanica.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mecanica General</h5>
        <ul>
            <li>Revisión y chequeo de la unidad, sistemas de gestión, orden de marcha y encendido</li>
            <li>Lubricación</li>
            <li>Mantenimientos programados</li>
            <li>Sistemas de frenos</li>
        </ul>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../static/blog/assets/img/testeo.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Testeo computarizado</h5>
        <ul>
            <li>Análisis y verificación de fallas electrónicas mediante sistemas diversos OBDII</li>
            <li>Confección árbol de diagnosis</li>
            <li>Chequeo de módulos electrónicos</li>
        </ul>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../static/blog/assets/img/cubiertas.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cambio de cubiertas</h5>
        <ul>
            <li>Revision de cubiertas</li>
            <li>Cambio total por garantia</li>
            <li>Alineacion</li>
            <li>Balanceo</li>
        </ul>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../static/blog/assets/img/aceite.jpg" class="card-img-top" alt="..." height="286px">
      <div class="card-body">
        <h5 class="card-title">Cambio de aceite</h5>
        <ul>
            <li>Cambio de aceite</li>
            <li>Cambio de filtros</li>
            <li>Revision de sistema de lubricación del motor</li>
        </ul>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../static/blog/assets/img/cajas.jpg"class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cajas automaticas</h5>
        <ul>
            <li>Verificación de gestión en cajas automáticas, secuenciales (DSG, Multitronic, Stronic y Tiptronic).</li>
            <li>Cajas de reducción (IRD)</li>
            <li>Lubricación y consejos de mantenimiento</li>
        </ul>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
</section>


</div>

{% endblock bloqueQueCambia  %}
    
